@import url('https://fonts.googleapis.com/css?family=Oswald|Poppins&display=swap');

body {
    background-color : white;
    margin:0;
    padding:0;
}
div.main {
    background-position: top;
    background-image:url('../images/background.jpg');
    background-size: contain;
    background-position-y:top;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
#page {
    background-color : white;
}


.seprator122 {
    width: 150px;
    height: 1px;
    margin: 32px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d2d2d2;
}
.seprator122 span {
    padding-left: 16px;
    padding-right: 16px;
    text-transform: uppercase;
    background-color: white;
}