<!DOCTYPE html>
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="css/style.css" rel="stylesheet")
    body
        h1 Mon site E-commerce !!!

        script(src=process.env.BROWSER_REFRESH_URL)